@model Person

@{
    ViewData["Title"] = "Details2";
}

@functions{
    //Method
    string? GetDescription(string? Description)
    {
        if (Description != null)
        {
            return $"You are {Description}";
        }
        else
        {
            return "What in the hell are you?";
        }
    }
}

<h1>@Model.Name Details</h1>

<!DOCTYPE html>
<html>
    <head>
      
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="page-content">  
                    <h3><text>Hello to</text> @Model.Name</h3>
                    <table class="table w-100">
                        <tbody>
                            <tr>
                                <td>Gender</td>
                                <td>@Model.Gender</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>@GetDescription(@Model.Description)</td>
                            </tr>
                        </tbody>

                    </table>
                    <a href="/home">Back to home</a>

        </div>
    </body>
</html>


